<!DOCTYPE html>
<html>
    <head>
        <title>Help | Miniblog App</title>
    </head>
    <body>
        <h1>Help</h1>
        <h3>Need help?</h3>
        <p>Hopefully you will find some here, later.</p>
    </body>
</html>
